/* Customize scrollbar appearance */
::-webkit-scrollbar {
    width: 16px;  /* Adjust scrollbar width */
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
    background: #ffffff /* #f8f8f8; /* Light gray */
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
    background: #f8f8f8; /* Slightly darker gray d1d1d1*/
    border-radius: 3px;
}

/* Scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #f8f8f8; /* Darker gray on hover bcbcbc*/
}